<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173425513255-hciji61787hon98b7kr88979mk414f3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173425513255-hciji61787hon98b7kr88979mk414f3v</string>
	<key>API_KEY</key>
	<string>AIzaSyBfnujkaMOnw7JAPaXr6Mc-M2i1PQ6Zfww</string>
	<key>GCM_SENDER_ID</key>
	<string>173425513255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirebaseText</string>
	<key>PROJECT_ID</key>
	<string>reactnativeml</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativeml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173425513255:ios:7e33d94651632bb0</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativeml.firebaseio.com</string>
</dict>
</plist>